<div class="mat-elevation-z2">
    <mat-table #table [dataSource]="categoryTableDataSource">

        <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef> No.</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.position}}</mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.data.name}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>

<div class="wu-add-category section">
    <input placeholder="{{'categories.categoryName' | translate}}" [(ngModel)]="category.name" />
    <a (click)="saveCategory()" class="waves-effect waves-light btn">{{'categories.addCategoryButton' | translate}}</a>
</div>
